<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>car list</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .car {
            display: inline-block;
            margin: 10px;
            text-align: center;
        }
        .car img {
            width: 200px;
            height: 150px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                let keyword = $(this).val();
                $.ajax({
                    url: '/cars/search',
                    data: { keyword: keyword },
                    success: function (data) {
                        console.log("return data:", data);
                        $("#carList").replaceWith($(data));
                    },
                    error: function () {
                        console.error("AJAX request fail");
                    }
                });
            });
        });
    </script>
</head>
<body>
	<h1>Car List</h1>
	<td>
        <a th:href="@{/messages}">Back to message</a>
    </td>
    <input type="text" id="searchInput" placeholder="search car name...">

    <div id="carList" th:fragment="carList">
        <div th:each="car : ${cars}" class="car">
			<a th:href="@{/cars/orderForm(id=${car.id})}">
				<img th:src="@{${car.imageUrl}}" alt="Car Image">
			</a>
            <h3 th:text="${car.name}"></h3>
            <p th:text="${car.description}"></p>
        </div>
    </div>

	
    
</body>
</html>
