<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>車輛訂購表單</title>
</head>
<body>
    <h1>訂購車輛</h1>
    <form th:action="@{/cars/submitOrder}" method="post">
        <input type="hidden" name="carId" th:value="${car.id}" />
        <label>車輛名稱:</label>
        <input type="text" name="carName" th:value="${car.name}" readonly /><br><br>

        <label>客戶姓名:</label>
        <input type="text" name="customerName" required /><br><br>

        <label>電話:</label>
        <input type="text" name="phone" required /><br><br>

        <button type="submit">送出</button>
    </form>
</body>
</html>
